<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8" />
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='weather.css') }}" >
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<body>
    <div class="navBar">
        <div class="logo">Crop Info</div>
        <div class="menu">
            <li><a href="/">Home</a></li>
        </div>
    </div>
    <div class="container">
        <form method = "POST"  onsubmit="return validate()" action="{{url_for('get_W')}}" autocomplete="on" >
            <select  name="place" id="place" >
                <option>------SELECT------</option>
                <option id="Ahmadnagar" value="Ahmadnagar">Ahmadnagar</option>
                <option id="Akola" value="Akola">Akola</option>
                <option id="Amravati" value="Amravati">Amravati</option>
                <option id="Beed" value="Beed">Beed</option>
                <option id="Bhandara" value="Bhandara">Bhandara</option>
                <option id="Chandrapur" value="Chandrapur">Chandrapur</option>
                <option id="Dhule" value="Dhule">Dhule</option>
                <option id="Gondia" value="Gondia">Gondia</option>
                <option id="Hingoli" value="Hingoli">Hingoli</option>
                <option id="Jalgaon" value="Jalgaon">Jalgaon</option>
                <option id="Kolhapur" value="Kolhapur">Kolhapur</option>
                <option id="Latur" value="Latur">Latur</option>
                <option id="Mumbai" value="Mumbai">Mumbai</option>
                <option id="Nagpur" value="Nagpur">Nagpur</option>
                <option id="Nanded" value="Nanded">Nanded</option>
                <option id="Nandurbar" value="Nandurbar">Nandurbar</option>
                <option id="Nashik" value="Nashik">Nashik</option>
                <option id="Osmanabad" value="Osmanabad">Osmanabad</option>
                <option id="Parbhani" value="Parbhani">Parbhani</option>
                <option id="Pune" value="Pune">Pune</option>
                <option id="Ratnagiri" value="Ratnagiri">Ratnagiri</option>
                <option id="Sangli" value="Sangli">Sangli</option>
                <option id="Satara" value="Satara">Satara</option>
                <option id="Solapur" value="Solapur">Solapur</option>
                <option id="Thane" value="Thane">Thane</option>
                <option id="Wardha" value="Wardha">Wardha</option>
                <option id="Washim" value="Washim">Washim</option>
                <option id="Yavatmal" value="Yavatmal">Yavatmal</option>
            </select>
            <div class="radio_btn">
                <input type="radio" name="options" id="option1" value="M" required> Monthly </input>
                <input type="radio" name="options" id="option2" value="Q" required> Quarterly </input>
            </div>
            <button type="submit"  class="btn_label" >Submit</button>
        </form>

        <div class="weather_graph">

            <center>
                <p>Average Weather Analysis For {{place}} District</p> <br>
                <span class="s1"> </span>Rainfall
                <span class="s2"> </span>Temp
                <span class="s3"> </span>Humidity
            </center>

            <canvas id="chart" width="600" height="400"></canvas>
        </div>


        <div class="live_weather">
            <p>Live weather Updates in your Region</p>

            <h5>MIN: {{temp_min}}° C </h5>
            <h5>MAX: {{temp_max}}° C</h5>
            <h5>Feels Like: {{feels_like}}° C </h5>
            <h5>Humidity: {{humidity}} </h5>
        </div>
    </div>

    <script>



      var data = {
      labels : [

          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
	  ],

      datasets: [
       {

            fillColor: "blue",

            data:[ {% for item in values3 %}
               "{{ item }}",
              {% endfor %} ]
       },
       {
   fillColor: "red",


           data: [

             {% for item in values2 %}
               "{{ item }}",
              {% endfor %}]
       },
         {

            fillColor: "cyan",

            data:[ {% for item in values1 %}
               "{{ item }}",
              {% endfor %} ]
       },
      ]
      };


        var mychart = document.getElementById("chart").getContext("2d");
       steps = 10
       max = {{mx}}

     // draw bar chart
     new Chart(mychart).Bar(data, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true,
       }
     );


    </script>





</body>
</html>
